{% extends "firstpage.html" %} {%block title%}image row{%endblock
%} 
{%block con%}<h1>UAVbuild - UAV Design and testing</h1>
<br><br>

<img src="static/UAV.jpg" style="height:30%; width: 95% ;">
<br><br>
<p style="text-align: left;  margin-left:20px">we belive its time for aircraft to be more aggile and dynamic.
UAV , are the future of this industry.</p>

<p style="text-align: left; margin-left:20px"><i style="color: yellow; "><b>what do we do?</b><br></i>
we  at UAVbuild design Unmannned ariel 
vehicals with futuristic areodynamic approach.</p>
<hr style="height: 3px; color: white; background-color: white; ">

	 {{(content+"for details")}} 


 {%endblock%}
